[submodule "packages/keychat_rust_ffi_plugin"]
	path = packages/keychat_rust_ffi_plugin
	url = https://github.com/keychat-io/keychat_rust_ffi_plugin.git
  # git@keychat2:keychat-io/keychat_rust_ffi_plugin.git
  # git submodule update --init --recursive
