name: app
description: keychat
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev
version: 1.15.1+4173

environment:
  sdk: ">=3.4.3 <4.0.0"
  flutter: ">=3.3.0"

platforms:
  android:
  ios:
  # macos:
  # chrome:

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  get: ^4.6.5
  flutter_easyloading: ^3.0.5
  path_provider: ^2.0.0
  path: ^1.8.2
  convert: ^3.1.1
  shared_preferences: ^2.0.18
  badges: ^3.0.3
  intl: ^0.19.0
  equatable: ^2.0.5
  json_annotation: ^4.9.0
  isar: 3.1.0+1
  isar_flutter_libs: 3.1.0+1
  share_plus: ^7.2.1
  flutter_linkify: ^6.0.0
  permission_handler: ^11.3.1
  mobile_scanner: ^4.0.1
  qr_flutter: "^4.1.0"
  url_launcher: ^6.2.3
  settings_ui: ^2.0.2
  onesignal_flutter: ^5.2.0
  search_page: ^2.3.0
  flutter_app_badger: ^1.5.0
  app_settings: ^5.1.1
  flutter_native_splash: ^2.3.1
  package_info_plus: ^8.0.0
  flutter_spinkit: ^5.2.0 # loading
  modal_bottom_sheet: ^3.0.0-pre
  dio: ^5.4.0
  photo_view: ^0.15.0
  image_picker: ^1.0.7 # select image
  any_link_preview: ^3.0.1 # show link preview in chat content
  flutter_dotenv: ^5.1.0
  logger: ^2.3.0
  aws: 1.0.0
  keychat_rust_ffi_plugin: 1.0.0
  keychat_ecash: 1.0.0
  cached_network_image: ^3.3.1
  onboarding: ^3.1.0
  gif: ^2.3.0 # gif support
  queue: ^3.1.0+2
  mutex: ^3.0.1
  random_avatar: ^0.0.8
  pull_to_refresh: ^2.0.0
  haptic_feedback: ^0.5.1+1
  dropdown_button2: ^2.3.9
  easy_debounce: ^2.0.3
  carousel_slider: ^4.2.1
  flutter_staggered_grid_view: ^0.7.0
  flutter_floating: ^1.0.8
  websocket_universal: ^1.2.5
  image_compression_flutter: ^1.0.4
  video_player: ^2.8.2
  video_compress: ^3.1.2
  flutter_markdown: ^0.6.18+3
  scroll_to_index: ^3.0.1
  connectivity_plus: ^6.0.3
  wakelock_plus: ^1.1.4
  file_selector: ^1.0.3
  open_filex: ^4.4.0
  timer_builder: ^2.0.0
  linkify: ^5.0.0
  flutter_svg: ^2.0.10+1
  crypto: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.8
  flutter_lints: ^4.0.0
  isar_generator: 3.1.0+1
  json_serializable: ^6.8.0
  freezed: ^2.4.1
  lints: ^4.0.0
  flutter_launcher_icons: ^0.13.1
  analyzer: ^5.13.0

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/images/
    - .env

# dart run flutter_native_splash:create
flutter_native_splash:
  color: "#ffffff"
  image: assets/images/logo.png
  color_dark: "#121212"
  image_dark: assets/images/logo.png

flutter_launcher_icons:
  android: "launcher_icon"
  # ios: true
  image_path: "assets/images/logo.png"
