name: app
description: keychat
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.24.3+6297

environment:
  sdk: ">=3.4.3 <4.0.0"
  flutter: ">=3.3.0"

platforms:
  android:
  ios:
  macos:
  # chrome:

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  get: ^4.6.5
  flutter_easyloading: ^3.0.5
  path_provider: ^2.1.5
  path: 1.9.0
  convert: ^3.1.2
  shared_preferences: ^2.3.3
  badges: ^3.0.3
  equatable: ^2.0.6
  json_annotation: ^4.9.0
  isar: 3.1.0+1
  isar_flutter_libs: 3.1.0+1
  share_plus: ^10.1.2
  flutter_linkify: ^6.0.0
  permission_handler: ^11.3.1
  qr_flutter: ^4.1.0
  settings_ui: ^2.0.2
  search_page: ^2.3.0
  app_settings: ^5.1.1
  flutter_native_splash: ^2.4.3
  package_info_plus: ^8.1.1
  flutter_spinkit: ^5.2.0 # loading
  modal_bottom_sheet: ^3.0.0-pre
  dio: ^5.7.0
  photo_view: ^0.15.0
  image_picker: ^1.0.7 # select image
  any_link_preview: ^3.0.2 # show link preview in chat content
  flutter_dotenv: ^5.2.1
  logger: ^2.5.0
  aws: 1.0.0
  keychat_rust_ffi_plugin: 1.0.0
  keychat_ecash: 1.0.0
  cached_network_image: ^3.4.1
  onboarding: ^4.0.2
  # gif: ^2.3.0 # gif support
  queue: ^3.1.0+2
  mutex: ^3.0.1
  pull_to_refresh: ^2.0.0
  dropdown_button2: ^2.3.9
  easy_debounce: ^2.0.3
  carousel_slider: ^5.0.0
  flutter_staggered_grid_view: ^0.7.0
  flutter_floating: ^1.0.8
  image_compression_flutter: ^1.0.4
  video_player: ^2.9.2
  video_compress: ^3.1.3
  flutter_markdown: ^0.7.4+2
  scroll_to_index: ^3.0.1
  connectivity_plus: ^6.1.0
  file_selector: ^1.0.3
  open_filex: ^4.4.0
  timer_builder: ^2.0.0
  linkify: ^5.0.0
  flutter_svg: ^2.0.15
  crypto: ^3.0.6
  web_socket_channel: ^3.0.1
  app_badge_plus: ^1.1.6
  flutter_secure_storage: ^9.2.2
  avatar_plus: ^0.0.5
  freezed_annotation: ^2.4.4
  barcode_scan2: ^4.3.3
  intl: ^0.19.0
  firebase_core: ^3.8.0
  firebase_messaging: ^15.1.5
  firebase_crashlytics: ^4.1.5
  firebase_analytics: ^11.3.5
  webview_flutter: ^4.10.0
  webview_flutter_wkwebview: ^3.16.3
  async_queue: ^2.0.2
  url_launcher: ^6.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter    
  build_runner: ^2.4.13
  flutter_lints: ^5.0.0
  isar_generator: 3.1.0+1
  json_serializable: ^6.8.0
  freezed: ^2.5.2
  lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1
  analyzer: ^5.13.0
  test: ^1.25.2

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/images/
    - .env

# dart run flutter_native_splash:create
flutter_native_splash:
  color: "#ffffff"
  image: assets/images/logo.png
  color_dark: "#121212"
  image_dark: assets/images/logo.png

flutter_launcher_icons:
  android: "launcher_icon"
  # ios: true
  image_path: "assets/images/logo.png"
